


  .gallery-title2{
    margin-bottom: 2rem;
    color: grey;
    font-size: 1.3rem;
    letter-spacing: .2rem;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}


  .myworks{
    display: grid;
    gap: 1rem;
    margin: 0 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}


.myworks-gallery{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myworks-gallery img{
    transition: transform 0.2s;
    width: 100%;
    max-width: 250px;
}

.myworks-gallery img:hover{
    transform: scale(1.2);
}