@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400;500;600;700&display=swap');

/* 
    font-family: 'Anton', sans-serif;

    font-family: 'Dancing Script', cursive;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    display: flex;

    padding: 2em;
    border-radius: 0.3em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.header h1{
    font-family: 'Anton', sans-serif;
    color: rgb(107, 107, 107);
    padding: 0 10px;
    border-radius: 5px;
}

.ul{
    display: none;
}
.menu i{
    font-size: 50px;
    position: relative;
    left: 5px;
    color: rgb(107, 107, 107);
}

.body1{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(660px,1fr));
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px;

}

.box1{
    margin-top: 20px;
    height: 40vh;
    border: 5px solid rgb(228, 67, 153);
    border-radius: 10px;
    margin-bottom: 50px;
}

p{
    margin: 0 30px;

    font-family: 'Dancing Script', cursive;
}

.title{
    font-family: 'Dancing Script', cursive;
    font-size: 64px;
    margin-bottom: 10px;
}


.hide{
    display: none;
}









@media (min-width:800px) {
    .header h1{
        flex-shrink: 0;
    }
    .space{
        flex: 100%;
        border: 2px;
    }
    
    .menu i{
        display: none;
    }

    .body1{
        margin: 50px;
        flex-wrap: nowrap;
    }

    .box1{
        
        min-width: 700px;
        height: 70vh;
        border: 10px solid rgb(228, 67, 153);
        border-radius: 10px;
    }

    .ul{
        text-align: right;
        display: flex;
        gap: 10px;
        position: relative;
        right: 10px;
        align-items: center;
    }
    
    .l{
        background-color: rgb(228, 67, 153);

        margin: 12px 6px;
    padding: 6px 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    cursor: pointer;
    color: #fff;
    }

    hr{
        display: none;
    }

    .btext{
        margin: 0 30px;
    }

    .hide2{
        display: none;
    }

    .hide{
        display: contents;
    }

}

