@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

.spanWrap{
    width: fit-content;
    background-color: white;
    color: #1f232f;
    padding: 6px 12px;
    position: relative;
    top: 14px;
    font-size: 1.4rem;
    font-weight: 900;
}


#span2{
    position: relative;
    top: -1.2px;
    font-weight: 400;
    animation: blink 2s infinite;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


.conTitle {
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.conWrapper{
    margin: 7rem 2.8rem;
}

.cHr3{
    border: none;
    background-color: rgb(189, 189, 189);
    height: 1px;
    margin-top: 7px;
}

.conParagraph {
    font-weight: 350;
    line-height: 1.75;
    margin-top: 1.5rem;
    margin-bottom: 7rem;
}

.cBox3{
    text-align: center;
}

.cBox3 i{
    font-size: 45px;
    color: #1f232f;
}

.cBox3 img{
    width: 50px;
}

.l1, .l2, .l3{
    cursor: pointer;
}

.cEmail3{
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 1.5rem;
}

.cEmailAdd3{
    font-size: 1.1rem;
    font-weight: 350;
    line-height: 1.75;
    margin-top: 3px;
    color: #1f232f;
}

.cSendEmailtxt{
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 350;
    line-height: 1.75;
    border: 1px solid #1f232f;
    width: 220px;
    padding: 3px 15px;
    margin-top: 5px;
    margin-bottom: 3.7rem;
    transition: all .5s ease-in-out;
}

.cSendEmailtxt:hover{
    background-color: #1f232f;
    color: white;
}

.cBox3 hr{
    border: none;
    background-color: rgb(189, 189, 189);
    height: 1px;
    margin-bottom: 3.8rem;
}

footer p{
    color: white;
    font-weight: 350;
}


@media (min-width: 700px){
    .conWrapper{
        margin: 4rem 7rem;
    }
    .spanWrap{
        margin: 0 2.8rem;
    }
}